In [1]:
import pandas as pd

# Examine people.csv

In [2]:
df_people = pd.read_csv('./data/people.csv', header=0)
df_people.head(5)

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84

In [3]:
df_people.dtypes

people_id    object
char_1       object
group_1      object
char_2       object
date         object
char_3       object
char_4       object
char_5       object
char_6       object
char_7       object
char_8       object
char_9       object
char_10        bool
char_11        bool
char_12        bool
char_13        bool
char_14        bool
char_15        bool
char_16        bool
char_17        bool
char_18        bool
char_19        bool
char_20        bool
char_21        bool
char_22        bool
char_23        bool
char_24        bool
char_25        bool
char_26        bool
char_27        bool
char_28        bool
char_29        bool
char_30        bool
char_31        bool
char_32        bool
char_33        bool
char_34        bool
char_35        bool
char_36        bool
char_37        bool
char_38       int64
dtype: object

In [4]:
# No missing values.  189118 rows.
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189118 entries, 0 to 189117
Data columns (total 41 columns):
people_id    189118 non-null object
char_1       189118 non-null object
group_1      189118 non-null object
char_2       189118 non-null object
date         189118 non-null object
char_3       189118 non-null object
char_4       189118 non-null object
char_5       189118 non-null object
char_6       189118 non-null object
char_7       189118 non-null object
char_8       189118 non-null object
char_9       189118 non-null object
char_10      189118 non-null bool
char_11      189118 non-null bool
char_12      189118 non-null bool
char_13      189118 non-null bool
char_14      189118 non-null bool
char_15      189118 non-null bool
char_16      189118 non-null bool
char_17      189118 non-null bool
char_18      189118 non-null bool
char_19      189118 non-null bool
char_20      189118 non-null bool
char_21      189118 non-null bool
char_22      189118 non-null bool
char_23      189118 non-null bool
char_24      189118 non-null bool
char_25      189118 non-null bool
char_26      189118 non-null bool
char_27      189118 non-null bool
char_28      189118 non-null bool
char_29      189118 non-null bool
char_30      189118 non-null bool
char_31      189118 non-null bool
char_32      189118 non-null bool
char_33      189118 non-null bool
char_34      189118 non-null bool
char_35      189118 non-null bool
char_36      189118 non-null bool
char_37      189118 non-null bool
char_38      189118 non-null int64
dtypes: bool(28), int64(1), object(12)
memory usage: 23.8+ MB

In [5]:
# quick summary
df_people.describe()

             char_38
count  189118.000000
mean       50.327399
std        35.752127
min         0.000000
25%        10.000000
50%        58.000000
75%        83.000000
max       100.000000

# Examine training activities

In [6]:
df_act_train = pd.read_csv('./data/act_train.csv', header=0)
df_act_train.head(5)

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

In [7]:
df_act_train.dtypes

people_id            object
activity_id          object
date                 object
activity_category    object
char_1               object
char_2               object
char_3               object
char_4               object
char_5               object
char_6               object
char_7               object
char_8               object
char_9               object
char_10              object
outcome               int64
dtype: object

In [8]:
df_act_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2197291 entries, 0 to 2197290
Data columns (total 15 columns):
people_id            object
activity_id          object
date                 object
activity_category    object
char_1               object
char_2               object
char_3               object
char_4               object
char_5               object
char_6               object
char_7               object
char_8               object
char_9               object
char_10              object
outcome              int64
dtypes: int64(1), object(14)
memory usage: 251.5+ MB

In [9]:
df_act_train.describe()

            outcome
count  2.197291e+06
mean   4.439544e-01
std    4.968491e-01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    1.000000e+00
max    1.000000e+00

In [10]:
df_act_train['char_1'].unique()

array([nan, 'type 3', 'type 36', 'type 24', 'type 2', 'type 5', 'type 12',
       'type 23', 'type 7', 'type 1', 'type 10', 'type 29', 'type 8',
       'type 16', 'type 26', 'type 15', 'type 17', 'type 13', 'type 41',
       'type 11', 'type 9', 'type 25', 'type 6', 'type 4', 'type 19',
       'type 20', 'type 30', 'type 14', 'type 28', 'type 22', 'type 35',
       'type 40', 'type 33', 'type 43', 'type 18', 'type 27', 'type 39',
       'type 32', 'type 47', 'type 31', 'type 38', 'type 42', 'type 34',
       'type 21', 'type 49', 'type 46', 'type 37', 'type 44', 'type 50',
       'type 48', 'type 52', 'type 45'], dtype=object)

In [11]:
df_act_train['activity_category'].unique()

array(['type 4', 'type 2', 'type 3', 'type 5', 'type 1', 'type 7', 'type 6'], dtype=object)

In [12]:
df_act_train['char_2'].unique()

array([nan, 'type 5', 'type 11', 'type 6', 'type 2', 'type 1', 'type 16',
       'type 14', 'type 4', 'type 8', 'type 3', 'type 10', 'type 25',
       'type 26', 'type 9', 'type 19', 'type 13', 'type 7', 'type 12',
       'type 29', 'type 17', 'type 15', 'type 18', 'type 20', 'type 21',
       'type 24', 'type 22', 'type 27', 'type 23', 'type 28', 'type 31',
       'type 32', 'type 30'], dtype=object)

In [13]:
df_act_train['char_3'].unique()

array([nan, 'type 1', 'type 5', 'type 6', 'type 3', 'type 7', 'type 8',
       'type 4', 'type 9', 'type 2', 'type 10', 'type 11'], dtype=object)

In [14]:
df_act_train['char_4'].unique()

array([nan, 'type 1', 'type 3', 'type 2', 'type 4', 'type 6', 'type 5',
       'type 7'], dtype=object)

In [15]:
df_act_train['char_5'].unique()

array([nan, 'type 6', 'type 1', 'type 5', 'type 2', 'type 4', 'type 3',
       'type 7'], dtype=object)

In [16]:
df_act_train['char_6'].unique()

array([nan, 'type 3', 'type 1', 'type 2', 'type 4', 'type 5'], dtype=object)

In [17]:
df_act_train['char_7'].unique()

array([nan, 'type 3', 'type 1', 'type 4', 'type 2', 'type 5', 'type 6',
       'type 7', 'type 8'], dtype=object)

In [18]:
df_act_train['char_8'].unique()

array([nan, 'type 6', 'type 4', 'type 5', 'type 9', 'type 18', 'type 14',
       'type 7', 'type 3', 'type 8', 'type 11', 'type 1', 'type 13',
       'type 10', 'type 15', 'type 2', 'type 16', 'type 12', 'type 17'], dtype=object)

In [19]:
df_act_train['char_9'].unique()

array([nan, 'type 8', 'type 1', 'type 2', 'type 7', 'type 13', 'type 9',
       'type 15', 'type 4', 'type 6', 'type 3', 'type 12', 'type 10',
       'type 17', 'type 18', 'type 14', 'type 5', 'type 16', 'type 19',
       'type 11'], dtype=object)

In [20]:
df_act_train['char_10'].unique()

array(['type 76', 'type 1', 'type 1727', ..., 'type 7356', 'type 6865',
       'type 7379'], dtype=object)

In [21]:
df_act_train['outcome'].unique()

array([0, 1])

# Check positive and negative class size for imbalance

In [22]:
df_act_train.size

32959365

In [23]:
negative_size = df_act_train[ df_act_train['outcome'] == 0 ].size
negative_size

18326910

In [24]:
positive_size = df_act_train[ df_act_train['outcome'] == 1 ].size
positive_size

14632455

In [25]:
print 'Negaitve %=' + str(float(negative_size)/float(df_act_train.size))
print 'Positive %=' + str(float(positive_size)/float(df_act_train.size))

Negaitve %=0.556045603427
Positive %=0.443954396573

In [26]:
print 'Negative class is more than positive class by ' + str(negative_size - positive_size)

Negative class is more than positive class by 3694455

# Preprocess data

In [27]:
# helper method that get last digit from a string
import re
def getLastDigitsFromString(x):
    if x != x:
        return -9999
    
    result = re.match('.*?([0-9]+)$', x)
    if result is None:
        return -9999
    else:
        return int(result.group(1))

In [28]:
df_act_train['people_id'] = df_act_train['people_id'].map( getLastDigitsFromString )
df_act_train['activity_id'] = df_act_train['activity_id'].map( getLastDigitsFromString )
df_act_train['activity_category'] = df_act_train['activity_category'].map( getLastDigitsFromString )
df_act_train['char_1'] = df_act_train['char_1'].map( getLastDigitsFromString )
df_act_train['char_2'] = df_act_train['char_2'].map( getLastDigitsFromString )
df_act_train['char_3'] = df_act_train['char_3'].map( getLastDigitsFromString )
df_act_train['char_4'] = df_act_train['char_4'].map( getLastDigitsFromString )
df_act_train['char_5'] = df_act_train['char_5'].map( getLastDigitsFromString )
df_act_train['char_6'] = df_act_train['char_6'].map( getLastDigitsFromString )
df_act_train['char_7'] = df_act_train['char_7'].map( getLastDigitsFromString )
df_act_train['char_8'] = df_act_train['char_8'].map( getLastDigitsFromString )
df_act_train['char_9'] = df_act_train['char_9'].map( getLastDigitsFromString )
df_act_train['char_10'] = df_act_train['char_10'].map( getLastDigitsFromString )

In [29]:
df_act_train.head(20)

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,100,1734928,2023-08-26,4,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,76,0
1,100,2434093,2022-09-27,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,0
2,100,3404049,2022-09-27,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,0
3,100,3651215,2023-08-04,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,0
4,100,4109017,2023-08-26,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,0
5,100,898576,2023-08-04,4,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1727,0
6,100002,1233489,2022-11-23,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,1
7,100002,1623405,2022-11-23,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,1
8,100003,1111598,2023-02-07,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,1
9,100003,1177453,2023-06-28,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,1
10,100003,133509,2022-08-10,4,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,894,1
11,100003,1408475,2023-03-02,4,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,143,1
12,100003,1610829,2022-09-13,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,1
13,100003,1688731,2023-02-10,4,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,297,1
14,100003,1961720,2023-06-28,4,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,269,1
15,100003,1988351,2022-08-23,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,1
16,100003,2198176,2022-08-16,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,1
17,100003,2437661,2023-02-02,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,1
18,100003,2476911,2023-03-02,2,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,1
19,100003,2557270,2022-08-30,4,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,230,1

# Train model

In [30]:
import graphlab as gl

In [31]:
# convert dataframe to sframe
sf_act_train = gl.SFrame(df_act_train)
sf_act_train.print_rows(num_rows=50)

This non-commercial license of GraphLab Create for academic use is assigned to eric.leung@alumni.utoronto.ca and will expire on September 03, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1473915360.log

+-----------+-------------+------------+-------------------+--------+--------+
| people_id | activity_id |    date    | activity_category | char_1 | char_2 |
+-----------+-------------+------------+-------------------+--------+--------+
|    100    |   1734928   | 2023-08-26 |         4         | -9999  | -9999  |
|    100    |   2434093   | 2022-09-27 |         2         | -9999  | -9999  |
|    100    |   3404049   | 2022-09-27 |         2         | -9999  | -9999  |
|    100    |   3651215   | 2023-08-04 |         2         | -9999  | -9999  |
|    100    |   4109017   | 2023-08-26 |         2         | -9999  | -9999  |
|    100    |    898576   | 2023-08-04 |         4         | -9999  | -9999  |
|   100002  |   1233489   | 2022-11-23 |         2         | -9999  | -9999  |
|   100002  |   1623405   | 2022-11-23 |         2         | -9999  | -9999  |
|   100003  |   1111598   | 2023-02-07 |         2         | -9999  | -9999  |
|   100003  |   1177453   | 2023-06-28 |         2         | -9999  | -9999  |
|   100003  |    133509   | 2022-08-10 |         4         | -9999  | -9999  |
|   100003  |   1408475   | 2023-03-02 |         4         | -9999  | -9999  |
|   100003  |   1610829   | 2022-09-13 |         2         | -9999  | -9999  |
|   100003  |   1688731   | 2023-02-10 |         4         | -9999  | -9999  |
|   100003  |   1961720   | 2023-06-28 |         4         | -9999  | -9999  |
|   100003  |   1988351   | 2022-08-23 |         2         | -9999  | -9999  |
|   100003  |   2198176   | 2022-08-16 |         2         | -9999  | -9999  |
|   100003  |   2437661   | 2023-02-02 |         2         | -9999  | -9999  |
|   100003  |   2476911   | 2023-03-02 |         2         | -9999  | -9999  |
|   100003  |   2557270   | 2022-08-30 |         4         | -9999  | -9999  |
|   100003  |   2581989   | 2023-02-21 |         2         | -9999  | -9999  |
|   100003  |   3116385   | 2023-02-15 |         2         | -9999  | -9999  |
|   100003  |   3159712   | 2022-08-30 |         2         | -9999  | -9999  |
|   100003  |   3292005   | 2023-05-03 |         2         | -9999  | -9999  |
|   100003  |   3461867   | 2023-08-02 |         2         | -9999  | -9999  |
|   100003  |   3468306   | 2023-03-02 |         4         | -9999  | -9999  |
|   100003  |   3867292   | 2023-02-10 |         2         | -9999  | -9999  |
|   100003  |   3990676   | 2023-08-30 |         4         | -9999  | -9999  |
|   100003  |   4102292   | 2023-08-30 |         2         | -9999  | -9999  |
|   100003  |   4160587   | 2023-02-21 |         2         | -9999  | -9999  |
|   100003  |   4392666   | 2022-08-10 |         2         | -9999  | -9999  |
|   100003  |   4438110   | 2022-08-25 |         2         | -9999  | -9999  |
|   100003  |   4511875   | 2022-09-06 |         2         | -9999  | -9999  |
|   100003  |   4568041   | 2022-08-10 |         2         | -9999  | -9999  |
|   100003  |   4582681   | 2022-08-30 |         2         | -9999  | -9999  |
|   100003  |   4665065   | 2022-08-26 |         2         | -9999  | -9999  |
|   100003  |   4808411   | 2022-08-10 |         4         | -9999  | -9999  |
|   100003  |    666224   | 2023-02-02 |         4         | -9999  | -9999  |
|   100003  |     6962    | 2023-06-28 |         4         | -9999  | -9999  |
|   100003  |    787846   | 2023-07-27 |         2         | -9999  | -9999  |
|   100003  |    79633    | 2023-05-03 |         4         | -9999  | -9999  |
|   100003  |    992474   | 2023-08-30 |         2         | -9999  | -9999  |
|   100006  |   2358115   | 2022-10-05 |         4         | -9999  | -9999  |
|   100006  |   2380649   | 2022-07-27 |         3         | -9999  | -9999  |
|   100006  |    632935   | 2022-10-05 |         4         | -9999  | -9999  |
|   100013  |   1667803   | 2023-01-26 |         5         | -9999  | -9999  |
|   100013  |     2229    | 2023-01-25 |         5         | -9999  | -9999  |
|   100013  |    225752   | 2023-01-26 |         5         | -9999  | -9999  |
|   100013  |   2601949   | 2023-01-25 |         5         | -9999  | -9999  |
|   100013  |   3059098   | 2023-01-25 |         5         | -9999  | -9999  |
+-----------+-------------+------------+-------------------+--------+--------+
+--------+--------+--------+--------+--------+--------+--------+---------+---------+
| char_3 | char_4 | char_5 | char_6 | char_7 | char_8 | char_9 | char_10 | outcome |
+--------+--------+--------+--------+--------+--------+--------+---------+---------+
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    76   |    0    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    0    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    0    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    0    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    0    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   1727  |    0    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   894   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   143   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   297   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   269   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   230   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   143   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   276   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   894   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   503   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   269   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   264   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |    1    |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   1341  |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   114   |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   1341  |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   5493  |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   5493  |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   5493  |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   5493  |    1    |
| -9999  | -9999  | -9999  | -9999  | -9999  | -9999  | -9999  |   5493  |    1    |
+--------+--------+--------+--------+--------+--------+--------+---------+---------+
[2197291 rows x 15 columns]

In [33]:
model = gl.random_forest_classifier.create(sf_act_train, target='outcome',
                                           max_iterations=10, max_depth = 300)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Random forest classifier:

--------------------------------------------------------

Number of examples          : 2087081

Number of classes           : 2

Number of feature columns   : 14

Number of unpacked features : 14

+-----------+--------------+-------------------+---------------------+-------------------+---------------------+

| Iteration | Elapsed Time | Training-accuracy | Validation-accuracy | Training-log_loss | Validation-log_loss |

+-----------+--------------+-------------------+---------------------+-------------------+---------------------+

| 1         | 41.519988    | 0.958476          | 0.890083            | 0.252002          | 0.332164            |

| 2         | 91.096565    | 0.947188          | 0.876654            | 0.242405          | 0.330022            |

| 3         | 146.276052   | 0.959100          | 0.881082            | 0.238382          | 0.328617            |

| 4         | 199.867483   | 0.964906          | 0.886680            | 0.235665          | 0.324760            |

| 5         | 265.913326   | 0.969026          | 0.890845            | 0.234848          | 0.324571            |

| 6         | 318.632961   | 0.971219          | 0.890028            | 0.234101          | 0.324401            |

| 7         | 364.644287   | 0.970439          | 0.891943            | 0.233806          | 0.321174            |

| 8         | 415.354728   | 0.970727          | 0.891516            | 0.233374          | 0.321348            |

| 9         | 466.603361   | 0.970580          | 0.892278            | 0.233322          | 0.319598            |

| 10        | 550.777407   | 0.972166          | 0.892061            | 0.247089          | 0.334533            |

+-----------+--------------+-------------------+---------------------+-------------------+---------------------+